
.money-closed{
    display: none;
    opacity: 0;
}

.cash-close{
    width: 250px;
    height: 30px;
    font-size: 30px;
    text-align: right;
}

.money-open {
    display: flex;
    opacity: 0; 
    background-color: rgb(22, 22, 22);
    position: absolute;
    right: 11%;
    top: -300px; 
    width: 280px;
    height: 530px;
    z-index: 9999;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    animation: slideDown 0.3s ease-out forwards; 
}

@keyframes slideDown {
    0% {
        top: -300px; 
        opacity: 0;
    }
    100% {
        top: 110px; 
        opacity: 1; 
    }
}


.cash-card-border{
    padding: 8px;
    border: 1px solid blueviolet;
    width: 250px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.cash-card {
    color: white;
    font-size: 12px;
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cash-card h3{
    color: blueviolet;
    font-weight: bold;
}

.cash-card p{
    font-weight: bold;
    font-size: 14px;
}
