.container{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.image-container {
    position: relative;  
    width: 100%;
    height: 350px;       
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.image-background {
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;        
    object-fit: cover;   
    z-index: 98; 
    opacity: 0.2;        
}

.content {
    position: relative;         
    text-align: center; 
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    z-index: 99;
}

.content img{
    width: 10%;
    margin-right: 40px;
}

.title{
    display: flex;
    border-left: white 1px solid;
    flex-direction: column;
    justify-content: center;
}

.title h1{
    margin-left: 17px;
    background-image: linear-gradient(45deg, #d400ff, #6200ff); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    font-weight: 900;
    
}
.title p{
    margin-left: 20px;
    font-weight: lighter;
}

.typing {
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #ffffff;
    animation: typing 2s steps(12, end), cursor .4s steps(12, end) infinite;
}

.cards{
    display: flex;
}

.card-border:hover{
    scale: 105%;
    cursor: pointer;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.card-container h1{
    font-size: 30px;
    font-weight: 500;
    margin-top: 15px;
}

.card-container h2{
    font-size: 15px;
    font-weight: 100;
}

.card-border{
    border: rgb(129, 129, 129) solid 2px;
    border-radius: 10%;
    padding: 10px;
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
}

.card{
    background-color: rgb(44, 44, 44);
    width: 200px;
    height: 200px;
    border-radius: 10%;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-image{
    width: 100px;
}

.card-image h1{
    font-size: 50px;
    text-align: left;
    color: #d400ff;
}

.card-title{
    font-size: 15px;
    font-weight: 300;
}

.card-variation{
    display: flex;
    align-items: center;
}

.card-variation p{
    margin-right: 5px;
    font-size: 20px;
    font-weight: 600;
}

@keyframes typing {
    from { width: 0 }
}
@keyframes cursor {
    50% { border-color: transparent }
}

@media (max-width: 800px) {

    .cards{
        flex-direction: column;
    }

    .card-container{
        padding: 0;
    }

    .card-container h2{
        text-align: center;
    }

    .card-container h1{
        text-align: center;
        margin-top: 40px;
    }

    .card-border {
        margin-top: 30px;
    }

    .image-container{
        height: 250px;
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content img {
        width: 15%; 
        margin-left: 20px;
    }

    .title h1 {
        font-size: 1.5rem; 
    }
    .title p {
        text-align: left;
    }

    .typing {
        width: 235px; 
    }
}

@media (max-width: 480px) {
    .content img {
        width: 20%; 
    }

    .title h1 {
        font-size: 1.2rem; /* Reduzindo ainda mais o tamanho da fonte */
    }

    .typing {
        width: 185px; /* Ajustando largura para telas muito pequenas */
    }
}



