.cripto-container {
    background-color: rgb(20, 20, 20);
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; 
    overflow: hidden; 
    background-image: url('../../assets/cripto.jpg');
    background-size: cover;
    background-position: center;
}


.cripto-container::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9); 
}


.cripto-title{
    border: blueviolet 2px solid;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    z-index: 1;
}

.cripto-title h1{
    color: white;
    font-weight: bold;
    background-image: linear-gradient(45deg, #d400ff, #6200ff); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-size: 24px;
}

.cripto-card-border {
    border: rgb(129, 129, 129) solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 700px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    position: relative;
}

.cripto-card {
    height: 150px;
    background-color: rgb(54, 54, 54);
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: 100%; 
    box-sizing: border-box;
}

.cripto-name {
    display: flex;
    flex-direction: column;
    width: 400px;
    color: white;
}

.cripto-name h2 {
    font-size: 20px;
    background-image: linear-gradient(45deg, #d400ff, #6200ff); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.cripto-name h3 {
    font-size: 15px;
    font-weight: lighter;
    color: white;
}

.cripto-information {
    font-size: 15px;
}

.cripto-information span {
    font-size: 18px;
    font-weight: bold;
}


@media (max-width: 900px) {
    .cripto-card-border {
        width: 90%; 
    }

    .cripto-card {
        flex-direction: column; 
        height: auto; 
    }

    .cripto-name {
        width: 100%; 
        margin-bottom: 15px; 
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 350px;
    }

    .cripto-information {
        font-size: 14px; 
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .cripto-information span {
        font-size: 16px; 
    }

    .cripto-title {
        width: 90%; 
        padding: 10px;
    }

    .cripto-title h1 {
        font-size: 20px; 
    }

}

