
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; 
    justify-content: flex-end;
    z-index: 999; 
}
  
  .modal {
    background-color: white;
    width: 50%; 
    height: 100%;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  }

  .modal-open {
    display: flex;
    opacity: 1;
  }
  
  .modal-closed {
    display: none; 
    opacity: 0;
  }

  .modal-closed button{
    display: none; 
    opacity: 0;
  }

  button{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    color: blueviolet;
  }
  
  @media (max-width: 800px) {
    .modal-overlay {
      display: flex; 
    }
  }
  
  .modal-open {
    overflow: hidden; 
  }
  