.container-area{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    padding: 0 70px;
    background-color: black;
}

.container-area h1{
    display: none;
    color: blueviolet;

}
.container-area img{
    color: white;
    font-size: 25px;
    transition: 0.3s;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    cursor: pointer;
}


.information{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 44);
    height: 40px;
    border-radius: 40px;
    padding: 30px;
}

.information a{
    text-decoration: none;
}

.information h2{
    font-size: 16px;
    font-weight: lighter;
    padding: 0 13px;
    color: white;
    transition: 0.3s;
}

.information h2:hover{
    cursor: pointer;
    color: blueviolet;
}

.cotation-dollar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    left: 10px;
}

.cotation-dollar img{
    margin-left: 0;
    margin-right: 5px;
}

.cotation-dollar span h2{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
}

.cotation-coin{
    display: flex;
    animation: slideUp 0.7s ease-in-out;
}

button {
    z-index: 1000;
    position: relative; 
    background-color: initial; 
    color: initial;            
    border: none;              
    cursor: pointer;           
    padding: 10px ;        
    font-size: 16px;           
    border-radius: 5px;   
    margin-bottom: 20px;   
    margin-left: 50px;
    transition: background-color 0.3s ease;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 800px) {
    
    .container-area {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto;
        padding: 0 50px;
        height: 80px;
    }

    .container-area h1 {
        display: flex;
        font-size: 30px;
        font-weight: lighter;
        text-align: center;
        padding: 30px;
        transition: 0.3s;
    }
    .container-area img {
        text-align: center;
        margin-left: 30px;
        margin-right: 20px;
    }

    .cotation-dollar {
        display: none;
    }

    .information {
        display: none;
    }

}
